[toolchain]
channel = "nightly"
components = ["clippy", "rustfmt", "rustc", "cargo", "rust-src"]
targets = [
  "x86_64-unknown-linux-gnu",
  "aarch64-unknown-linux-gnu",
  "x86_64-pc-windows-gnu",
  "x86_64-apple-darwin",
  "aarch64-apple-darwin",
]